
.content{
    width: 80%;
    float: right;  
}

.center_boder_collum{
    width: 0.3%;
    float: left;
    margin-top: 55px;
    margin-left: 0;
}
.center_boder_row{
    height: 0;
    background-color: #fff;
}

.center_detail{
    background-color: #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}






                                                                    /* NEW  */





.prod_box_new{
    
    width: 32%;
    float: left;
    margin-top: 55px;
    margin-left: 2%;
    background-color: #fff;
    text-align: center;
}

.center_title_bar_new{
    margin-top: -45px;
	width: 100%;
    height: 40px;
    float: left;
	border-radius: 4px;
	background-color: rgb(72, 70, 247);
	text-align: center;
	font-size: 20px;
	font-weight: white;
	color: #fff;
	line-height: 38px;
}

.prod_box_new .img_prod_box #img_prod{
    margin-top: 10px;
    max-width: 80%;
    max-height: 400px;
}

.prod_box_new .name_prod_box{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: blue;
    color: darkorchid;
}

.prod_box_new .detail_prod_box{
    padding-top: 10px;
}
.prod_box_new .detail_prod_box a{
    
    text-decoration: none;
    font-size: 18px;
}

.prod_box_new .detail_prod_box a:hover{
    color: red;
}


                                /* SEE */


.prod_box_see{
    
    width: 32%;
    float: left;
    margin-top: 55px;
    margin-left: 0;
    background-color: #fff;
    text-align: center;
}

.center_title_bar_see{
    margin-top: -45px;
	width: 100%;
    height: 40px;
    float: left;
	border-radius: 4px;
	background-color: rgb(72, 70, 247);
	text-align: center;
	font-size: 20px;
	font-weight: white;
	color: #fff;
	line-height: 38px;
}

.prod_box_see .img_prod_box #img_prod{
    margin-top: 10px;
    max-width: 80%;
    max-height: 400px;
}

.prod_box_see .name_prod_box{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: blue;
    color: darkorchid;
}

.prod_box_see .detail_prod_box{
    padding-top: 10px;
}
.prod_box_see .detail_prod_box a{
    
    text-decoration: none;
    font-size: 18px;
}

.prod_box_see .detail_prod_box a:hover{
    color: red;
}

                                /* Sell */


.prod_box_sell{
    
    width: 32%;
    float: left;
    margin-top: 55px;
    margin-left: 0;
    background-color: #fff;
    text-align: center;
}

.center_title_bar_sell{
    margin-top: -45px;
	width: 100%;
    height: 40px;
    float: left;
	border-radius: 4px;
	background-color: rgb(72, 70, 247);
	text-align: center;
	font-size: 20px;
	font-weight: white;
	color: #fff;
	line-height: 38px;
}

.prod_box_sell .img_prod_box #img_prod{
    margin-top: 10px;
    max-width: 80%;
    max-height: 400px;
}

.prod_box_sell .name_prod_box{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: blue;
    color: darkorchid;
}

.prod_box_sell .detail_prod_box{
    padding-top: 10px;
}
.prod_box_sell .detail_prod_box a{
    
    text-decoration: none;
    font-size: 18px;
}

.prod_box_sell .detail_prod_box a:hover{
    color: red;
}










