.clr{
	clear: both;
}

													/* Start CSS phần Header */
.header {
	height: 80px;
	background: rgb(74, 65, 250);
	width: 100%;
}
.home_button{
	float: left;
	margin: 7px 2% auto;
}

#home_bt{
	width: 60px;
	height: 60px;
}

.search_bar{
	margin-left: 2px;
}

#search_input{
	border-radius: 5px;
	float: left;
	margin-top: 18px;
	width: 60%;
	height: 40px;
	border: 1px;
	font-size: 18px;
	text-shadow: 2px 2px 2px #B0AAAA;
	text-align: left;
}

#search_bt{
	float: left;
	margin-top: 19px;
	margin-left: -40px;
	width: 41px;
	height: 41px;
	border: 1px;
}

#shop_bag{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	width: 45px;
	height: 45px;
}

.login_text{
	float: right;
	margin-top: 25px;
	margin-right: 2%;
}

#text_login{
	font-size: 24px;
	color: white;
	text-decoration: none;
}

		

														/* End CSS phần Header */