.font_menu{

	margin-left: 10px;
	text-align: left;
}

.menu{
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 20%;
	margin-left: 0px;
	background: #ABB1FC;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}
			
.menu ul a {
	padding-left: 20%;
	color: darkgreen;
	text-decoration: none;
}
.menu h3{
	padding-left: 15%;
	color: darkred;
	font-size: 24px;
}