nav {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 200px;
	margin-left: 0px;
	background: #ABB1FC;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}
			
nav ul a {
	padding: 15px;
	color: darkgreen;
	text-decoration: none;
}