
.crl{
	clear: both;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Sans-Serif;
	font-size: 16px;
	line-height: 1.5em;
	background: #E0FEE8;
}

main {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 100%;
}
				
#wrapper {
	overflow: hidden;
}
		
.innertube {
	margin: 10px; 
	margin-top: 0;
	text-align: left;
}

h3{
	font-size: 24px;
}

h2{
	margin-left: 20px;
	font-size: 20px;
}

p {
	color: #555;
}